.auth__submit-button {
  margin-top: 216px;
  width: 358px;
  font-size: 18px;
  padding: 14px 84px;
  line-height: 21.78px;
  font-weight: 400;
  background-color: #ffffff;
}
.auth__submit-button:hover {
  opacity: 0.8;
}
